*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #555;
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
}

.main {
    padding-bottom: 50px;
}

.gallery {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    background: #000 url(../images/black_denim.png);
    box-shadow: 0 2px 1px rgba(255,255,255,0.9), 0 -2px 1px rgba(255,255,255,0.9);
}

.image-preview img {
    border-radius: 0 0 20px 20px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}